$brand-primary: #1ea6e6;
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

div.canvas, canvas {
    width: 100%;
    min-height: 70%;
    margin: 0;
    padding: 0;
}

.jumbotron table {
    display: inline-block;
    text-align: center;
}

.jumbotron th {
    text-align: center;
    padding-right: 0.2em;
    font-weight: bold;
}

.jumbotron td {
    text-align: left;
    padding-right: 1em;
}

.one {
    font-style: italic;
}

.red {
    color: #e04444;
}

.green {
    color: #44e044;
}

.blue {
    color: #4444e0;
}

.others {
    text-align: center;
}
