<div class="main">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">Play</a></li>
      <li class="active"><a href="#/about">About</a></li>
    </ul>
    <h3 class="text-muted"><span class="one">.one.</span></h3>
  </div>

  <div class="jumbotron">
    <p>The <span class="one">.one.</span> is a game for <a href="http://www.ludumdare.com/compo/">Ludum Dare 28</a> game programming competition by <a href="https://github.com/macroz">Markku Rontu</a>.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="images/screenshot.png" class="img-responsive img-rounded"/>
    </div>
    <div class="col-md-8">
      <p><span class="one">.one.</span> is implemented in JavaScript using <a href="http://angularjs.org/">AngularJS</a> and <a href="http://en.wikipedia.org/wiki/Canvas_element">HTML5 Canvas</a> for rendering.</p>
      <p>This time I didn't have much time so the game is implemented in about six hours. The theme was not very inspiring to me. I came up with the looks first, and then while thinking of interesting rules, remembered the old <a href="http://en.wikipedia.org/wiki/Hunt_the_Wumpus">Hunt the Wumpus</a> game. The rules of <span class="one">.one.</span> are similar to it. There is no end, it would be nice to add more interesting variation and not just expand the playing area.</p>
      <p>Check out the <a href="https://github.com/Macroz/one">source code</a>.</p>
    </div>
  </div>
</div>

<div class="footer">
</div>
</div>
