<div class="main">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Play</a></li>
      <li><a href="#/about">About</a></li>
    </ul>
    <h3 class="text-muted"><span class="one">.one.</span></h3>
  </div>

  <div class="jumbotron">
    <h1>you have only <span class="one">.one.</span> chance</h1>
    <table class="lead">
      <tr>
        <th>&middot;</th><td>expand</td>
        <th>&mdash;</th><td>choose the <span class="one">.one.</span></td>
      </tr>
      <tr>
        <td colspan="4" class="others">the <span class="blue">others</span> are here, avoid them</td>
      </tr>
    </table>
  </div>

  <div class="canvas">
    <canvas></canvas>
  </div>

  <div class="footer">
  </div>
</div>
